@model BugTrackingSystem.Models.Bug

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Issue</h2>
<hr />
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <form action="/Home/Update/@Model.BugID" method="post">
            <div class="container">
                <div class="form-group">
                    
                    <input type="hidden" class="form-control" id="Subject" value="@Model.BugID" name="BudID" />

                </div>
                <div class="form-group ">
                    <label for="Tracker">Tracker</label>
                    <select class="form-control  " id="Tracker" name="Tracker" value="@Model.Tracker">
                        <option value="@Model.Tracker">Bug</option>
                        <option value="@Model.Tracker">Issue</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Subject">Subject</label>
                    <input type="text" class="form-control" id="Subject" name="Subject" value="@Model.Subject" />

                </div>
                <div class="form-group">
                    <label for="Description">Description</label>
                    <textarea cols="30" rows="5" class="form-control " id="Description" name="Description" value="@Model.Description"></textarea>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6 ">
                        <label for="Status">Status</label>
                        <select class="form-control" id="Status" name="Status" value="@Model.Status">
                            <option value="New">New</option>
                            <option value="Old">Old</option>
                            <a href="~/Views/Bug/Index.cshtml">~/Views/Bug/Index.cshtml</a>
                        </select>
                    </div>
                    <div class="form-group col-md-6 ">
                        <label for="StartDate">Start Date</label>
                        <input type="date" class="form-control" id="StartDate" name="StartDate" value="@Model.StartDate" />
                    </div>



                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 ">
                        <label for="Priority">Priority</label>
                        <select class="form-control" id="Priority" name="Priority" value="@Model.Priority">
                            <option value="Normal">Normal</option>

                            <option value="Immediate">Immediate</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 ">
                        <label for="DueDate">Due Date</label>
                        <input type="date" class="form-control" id="DueDate" name="DueDate" value="@Model.DueDate" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 ">
                        <label for="Assignee">Assignee</label>
                        <select class="form-control" id="Assignee" name="Assignee" value="@Model.Assignee">
                            <option value="Administrator">Administrator</option>
                            <option value="Lead">Lead</option>
                            <option value="Developer">Developer</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 ">
                        <label for="EstimatedTime">Estimated Time</label>
                        <input type="text" class="form-control" placeholder="Hours" value="@Model.EstimatedTime" id="EstimatedTime" name="EstimatedTime" />
                    </div>



                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 ">

                    </div>
                    <div class="form-group col-md-6 ">
                        <label for="PercentageDone">% Done</label>
                        <select class="form-control" id="PercentageDone" name="PercentageDone" value="@Model.PercentageDone">
                            <option value="0%">0%</option>
                            <option value="25%">25%</option>
                            <option value="35%">35%</option>
                            <option value="45%">45%</option>
                            <option value="55%">55%</option>
                            <option value="65%">65%</option>
                            <option value="75%">75%</option>
                            <option value="85%">85%</option>
                            <option value="95%">95%</option>
                            <option value="100%">100%</option>

                        </select>
                    </div>



                </div>


                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/Home/Index" class="btn btn-link">Back To List</a>
            </div>
        </form>



    </div>
    <div class="col-md-2">

    </div>

</div>

